body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1290px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  color:#536DFE;
}
#u89 {
  position:absolute;
  left:461px;
  top:23px;
  width:384px;
  height:38px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  color:#536DFE;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  white-space:nowrap;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:28px;
}
#u91 {
  position:absolute;
  left:0px;
  top:79px;
  width:1290px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:28px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u93 {
  position:absolute;
  left:238px;
  top:127px;
  width:40px;
  height:40px;
  font-family:'Fira Sans ExtraBold', 'Fira Sans';
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u94 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u95 {
  position:absolute;
  left:144px;
  top:177px;
  width:220px;
  height:24px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u97 {
  position:absolute;
  left:528px;
  top:127px;
  width:40px;
  height:40px;
  font-family:'Fira Sans ExtraBold', 'Fira Sans';
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u98 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#536DFE;
}
#u99 {
  position:absolute;
  left:433px;
  top:177px;
  width:229px;
  height:24px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#536DFE;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u101 {
  position:absolute;
  left:808px;
  top:127px;
  width:40px;
  height:40px;
  font-family:'Fira Sans ExtraBold', 'Fira Sans';
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u102 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u103 {
  position:absolute;
  left:730px;
  top:177px;
  width:198px;
  height:24px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:397px;
  top:283px;
  width:300px;
  height:43px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u106 {
  position:absolute;
  left:0px;
  top:290px;
  width:314px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u108 {
  position:absolute;
  left:0px;
  top:369px;
  width:142px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:397px;
  top:442px;
  width:117px;
  height:43px;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:43px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u111 {
  position:absolute;
  left:0px;
  top:449px;
  width:308px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:397px;
  top:522px;
  width:300px;
  height:43px;
}
#u113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u114 {
  position:absolute;
  left:0px;
  top:529px;
  width:308px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u116 {
  position:absolute;
  left:0px;
  top:619px;
  width:308px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:397px;
  top:611px;
  width:300px;
  height:43px;
}
#u118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u119 {
  position:absolute;
  left:740px;
  top:619px;
  width:92px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:847px;
  top:611px;
  width:68px;
  height:43px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u122 {
  position:absolute;
  left:950px;
  top:619px;
  width:92px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:1057px;
  top:611px;
  width:68px;
  height:43px;
}
#u124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u125 {
  position:absolute;
  left:0px;
  top:699px;
  width:308px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:397px;
  top:691px;
  width:300px;
  height:43px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u128 {
  position:absolute;
  left:0px;
  top:779px;
  width:308px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:397px;
  top:771px;
  width:300px;
  height:43px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u131 {
  position:absolute;
  left:0px;
  top:859px;
  width:308px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:397px;
  top:851px;
  width:300px;
  height:43px;
}
#u133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans Bold', 'Fira Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u134 {
  position:absolute;
  left:0px;
  top:225px;
  width:454px;
  height:24px;
  font-family:'Fira Sans Bold', 'Fira Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans Bold', 'Fira Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u136 {
  position:absolute;
  left:0px;
  top:935px;
  width:454px;
  height:24px;
  font-family:'Fira Sans Bold', 'Fira Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:0px;
  top:978px;
  width:26px;
  height:16px;
}
#u139 {
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u140 {
  position:absolute;
  left:28px;
  top:972px;
  width:133px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:0px;
  top:1018px;
  width:26px;
  height:16px;
}
#u143 {
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u144 {
  position:absolute;
  left:28px;
  top:1012px;
  width:433px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:397px;
  top:1073px;
  width:300px;
  height:43px;
}
#u146_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u147 {
  position:absolute;
  left:0px;
  top:1080px;
  width:314px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:397px;
  top:1152px;
  width:300px;
  height:43px;
}
#u149_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u150 {
  position:absolute;
  left:0px;
  top:1159px;
  width:142px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:397px;
  top:1232px;
  width:117px;
  height:43px;
}
#u152_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:43px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u153 {
  position:absolute;
  left:0px;
  top:1239px;
  width:308px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:397px;
  top:1312px;
  width:300px;
  height:43px;
}
#u155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u156 {
  position:absolute;
  left:0px;
  top:1319px;
  width:308px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u158 {
  position:absolute;
  left:0px;
  top:1409px;
  width:308px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:397px;
  top:1401px;
  width:300px;
  height:43px;
}
#u160_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u161 {
  position:absolute;
  left:740px;
  top:1409px;
  width:92px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:847px;
  top:1401px;
  width:68px;
  height:43px;
}
#u163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u164 {
  position:absolute;
  left:950px;
  top:1409px;
  width:92px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:1057px;
  top:1401px;
  width:68px;
  height:43px;
}
#u166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u167 {
  position:absolute;
  left:0px;
  top:1489px;
  width:308px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:397px;
  top:1481px;
  width:300px;
  height:43px;
}
#u169_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u170 {
  position:absolute;
  left:0px;
  top:1569px;
  width:308px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:397px;
  top:1561px;
  width:300px;
  height:43px;
}
#u172_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u173 {
  position:absolute;
  left:0px;
  top:1649px;
  width:308px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:397px;
  top:1641px;
  width:300px;
  height:43px;
}
#u175_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:62px;
}
#u176 {
  position:absolute;
  left:649px;
  top:1732px;
  width:300px;
  height:62px;
  font-family:'Fira Sans Bold', 'Fira Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u177 {
  position:absolute;
  left:2px;
  top:19px;
  width:296px;
  word-wrap:break-word;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#536DFE;
}
#u178 {
  position:absolute;
  left:344px;
  top:1755px;
  width:261px;
  height:24px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#536DFE;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u180 {
  position:absolute;
  left:397px;
  top:363px;
  width:300px;
  height:44px;
}
#u180_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
}
#u180_input:disabled {
  color:grayText;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u181 {
  position:absolute;
  left:1038px;
  top:127px;
  width:40px;
  height:40px;
  font-family:'Fira Sans ExtraBold', 'Fira Sans';
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u182 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u183 {
  position:absolute;
  left:990px;
  top:177px;
  width:141px;
  height:24px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
