body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1289px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  color:#536DFE;
}
#u0 {
  position:absolute;
  left:437px;
  top:93px;
  width:384px;
  height:38px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  color:#536DFE;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:221px;
  top:227px;
  width:593px;
  height:52px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:52px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:52px;
}
#u3 {
  position:absolute;
  left:850px;
  top:227px;
  width:179px;
  height:52px;
  font-family:'Fira Sans Bold', 'Fira Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:149px;
  width:1290px;
  height:56px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#536DFE;
}
#u7 {
  position:absolute;
  left:-1px;
  top:436px;
  width:111px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#536DFE;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u9 {
  position:absolute;
  left:-1px;
  top:470px;
  width:1291px;
  height:44px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u11 {
  position:absolute;
  left:574px;
  top:492px;
  width:37px;
  height:22px;
}
#u12 {
  position:absolute;
  left:2px;
  top:3px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#536DFE;
}
#u13 {
  position:absolute;
  left:-1px;
  top:327px;
  width:111px;
  height:24px;
  font-size:20px;
  color:#536DFE;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15 {
  position:absolute;
  left:-1px;
  top:371px;
  width:1291px;
  height:44px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u17 {
  position:absolute;
  left:573px;
  top:393px;
  width:37px;
  height:22px;
}
#u18 {
  position:absolute;
  left:2px;
  top:3px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#536DFE;
}
#u19 {
  position:absolute;
  left:-1px;
  top:537px;
  width:111px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#536DFE;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u21 {
  position:absolute;
  left:-1px;
  top:571px;
  width:1291px;
  height:44px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u23 {
  position:absolute;
  left:574px;
  top:593px;
  width:37px;
  height:22px;
}
#u24 {
  position:absolute;
  left:2px;
  top:3px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#536DFE;
}
#u25 {
  position:absolute;
  left:-1px;
  top:636px;
  width:111px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#536DFE;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u27 {
  position:absolute;
  left:-1px;
  top:671px;
  width:1291px;
  height:44px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u29 {
  position:absolute;
  left:574px;
  top:693px;
  width:37px;
  height:22px;
}
#u30 {
  position:absolute;
  left:2px;
  top:3px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#536DFE;
}
#u31 {
  position:absolute;
  left:1129px;
  top:29px;
  width:152px;
  height:24px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#536DFE;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
