body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
}
#u443 {
  position:absolute;
  left:20px;
  top:20px;
  width:320px;
  height:600px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
}
#u444 {
  position:absolute;
  left:2px;
  top:292px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#32BEA6;
}
#u445 {
  position:absolute;
  left:64px;
  top:91px;
  width:240px;
  height:24px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#32BEA6;
}
#u446 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  white-space:nowrap;
}
#u447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u447 {
  position:absolute;
  left:144px;
  top:31px;
  width:60px;
  height:60px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
}
#u448 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  color:#32BEA6;
}
#u449 {
  position:absolute;
  left:116px;
  top:137px;
  width:13px;
  height:16px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  color:#32BEA6;
}
#u450 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  visibility:hidden;
  white-space:nowrap;
}
#u451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
}
#u451 {
  position:absolute;
  left:30px;
  top:306px;
  width:300px;
  height:52px;
  font-family:'Fira Sans Bold', 'Fira Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#363636;
}
#u452 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#1E1E1E;
  line-height:28px;
}
#u453 {
  position:absolute;
  left:30px;
  top:136px;
  width:300px;
  height:140px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#1E1E1E;
  line-height:28px;
}
#u454 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
