body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1290px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  color:#536DFE;
}
#u33 {
  position:absolute;
  left:461px;
  top:23px;
  width:384px;
  height:38px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  color:#536DFE;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  white-space:nowrap;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:28px;
}
#u35 {
  position:absolute;
  left:0px;
  top:79px;
  width:1290px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:28px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:397px;
  top:263px;
  width:300px;
  height:43px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u38 {
  position:absolute;
  left:0px;
  top:270px;
  width:237px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u40 {
  position:absolute;
  left:28px;
  top:1120px;
  width:133px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:397px;
  top:342px;
  width:300px;
  height:43px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u43 {
  position:absolute;
  left:0px;
  top:349px;
  width:142px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:397px;
  top:422px;
  width:300px;
  height:43px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u46 {
  position:absolute;
  left:0px;
  top:429px;
  width:308px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u48 {
  position:absolute;
  left:0px;
  top:509px;
  width:248px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:397px;
  top:582px;
  width:885px;
  height:43px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:885px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u51 {
  position:absolute;
  left:0px;
  top:589px;
  width:237px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u53 {
  position:absolute;
  left:0px;
  top:667px;
  width:328px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:397px;
  top:732px;
  width:300px;
  height:43px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u56 {
  position:absolute;
  left:0px;
  top:739px;
  width:339px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:397px;
  top:802px;
  width:300px;
  height:43px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u59 {
  position:absolute;
  left:0px;
  top:809px;
  width:407px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:1126px;
  width:18px;
  height:16px;
}
#u62 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u63 {
  position:absolute;
  left:208px;
  top:127px;
  width:40px;
  height:40px;
  font-family:'Fira Sans ExtraBold', 'Fira Sans';
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#536DFE;
}
#u65 {
  position:absolute;
  left:114px;
  top:177px;
  width:220px;
  height:24px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#536DFE;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u67 {
  position:absolute;
  left:498px;
  top:127px;
  width:40px;
  height:40px;
  font-family:'Fira Sans ExtraBold', 'Fira Sans';
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u69 {
  position:absolute;
  left:403px;
  top:177px;
  width:229px;
  height:24px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u71 {
  position:absolute;
  left:778px;
  top:127px;
  width:40px;
  height:40px;
  font-family:'Fira Sans ExtraBold', 'Fira Sans';
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u73 {
  position:absolute;
  left:700px;
  top:177px;
  width:198px;
  height:24px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:62px;
}
#u75 {
  position:absolute;
  left:652px;
  top:1197px;
  width:300px;
  height:62px;
  font-family:'Fira Sans Bold', 'Fira Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u76 {
  position:absolute;
  left:2px;
  top:19px;
  width:296px;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#536DFE;
}
#u77 {
  position:absolute;
  left:347px;
  top:1220px;
  width:261px;
  height:24px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#536DFE;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:397px;
  top:509px;
  width:108px;
  height:35px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:35px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u79_input:disabled {
  color:grayText;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:47px;
}
#u80 {
  position:absolute;
  left:397px;
  top:656px;
  width:161px;
  height:47px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u81 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:397px;
  top:880px;
  width:885px;
  height:215px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:885px;
  height:215px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u83 {
  position:absolute;
  left:0px;
  top:880px;
  width:407px;
  height:28px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u85 {
  position:absolute;
  left:1038px;
  top:127px;
  width:40px;
  height:40px;
  font-family:'Fira Sans ExtraBold', 'Fira Sans';
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u86 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u87 {
  position:absolute;
  left:990px;
  top:177px;
  width:141px;
  height:24px;
  font-family:'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
